.carrito{
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;

    top: 30px; */

  /*  width: 55%;*/
  margin-bottom: 5%;


}

.datosCarrito{
    margin-left: 80px;
    margin-right: 70px;
}
.carritoCard{
    position: relative;
    left: 5%;
    margin-bottom: 5%;
    color: red;
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    width: 90%;
}
.botonesRedir{
    margin-top: 70px;
    margin-bottom: 70px;
}
.textoEpigrafe{
    font-size: 1.2rem;
}
.carritoVacio{
    width: 500px;
}
.compraFinalizada{
    display: flex;
    width: 16%;
    /* justify-content: center; */
    /* align-items: center; */
    /* text-align: center; */
    flex-direction: column;
    align-self: center;
    margin-left: 42%;
    margin-top: 2%;
}
