/*.navBar {
    display: flex;
    justify-content: space-between;

}

.color1 {
    color: green;
}

.color2 {
    color: blue;
}*/

.navbar {
    background-color: lightblue;
}
.navbar-brand{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.navbar-nav{
    position: relative;
    left: 25%;
}
.navbar-nav a:hover{
    background-color: lightcoral;

}
a .dropdown-item:active{

    color: black;
}
/* .navbar-nav .dropdown-item:hover{
    background-color: red;
    color: white;
} */
.iiemnoActivo{
    color: black;
    
}
.itemActivo{
    color:white;
    background-color: blue;
}
.navbar-nav .dropdown:hover .dropdown-menu {
    display: block;
}
p{
   vertical-align: bottom;
}
.botonCarrito{

    width: 7%;
    display: flex;
    background-color: transparent;
    border: transparent;
    cursor: default;
    position: relative;
    right: 100px;
}
img{
    width:5%;
}
.botonCantidad{
    width: 40%;
    position: relative;
    left: 30%;
    background-color: transparent;
    border: transparent;
}
.botonCantidadmenos{
    background-color: transparent;
    border: transparent;
}
.cantidad{
    width: 100%;
    font-size: 1.2rem;
    position: relative;
    top: 5px;
    left: 15%;
}
p{
    font-size: 1rem;
    position: relative;
    top: 7px;
    
}
.imagenCarrito{
    width:60%;
}